<launch>
  <arg name="frequency" default="2" />
  <arg name="ignore_robot_model" default="" />
  <arg name="timeout" default="0" />

  <node name="gazebo2moveit" pkg="gazebo2rviz" type="gazebo2moveit_collision_node.py" args="-f $(arg frequency)" output="screen">
    <param name="ignore_robot_model" value="$(arg ignore_robot_model)" type="str" />
    <param name="timeout" value="$(arg timeout)" type="int" />
  </node>
</launch>
